.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .collection-item-image {
    width: 100%;
    height: 95%;
  }

  .image {
    margin-bottom: 5px;
    width: inherit;
    height: inherit;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    .image {
      border: 1px solid black;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
      justify-content: center;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }

  // FOR CAROUSEL LIBRARY
  .collection-item-carousel {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 5px;
    
    button {
      background-color: black !important;
      transition: all 0.2s;

      &:hover:not(:disabled) {
        font-size: 15px;
      }
    }
  }

  .slider-list {
    width: 100% !important;
    height: 100% !important;
  }

  .slider-slide {
    width: 100% !important;
    height: 100% !important;
    cursor: default !important;
  }

  .slider-control-bottomcenter {
    display: none !important;
  }
}
